.navbar-brand {
  color: #fff;
  padding-left: 35px;
  font-size: 23px;
}

.navbar {
    border-radius: 0px;
}

.navbar-brand {
  transition: color .10s ease-in-out, background-color .15s;
}

a.navbar-brand:hover {
  color: #9bc3ff;
}
