<nav class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active-link" routerLink="/instances"><i class="fab fa-aws fa-lg"></i> Instances</a>
  </li>
  <li *ngIf="!authenticationService.isLoggedIn()" class="nav-item">
    <a class="nav-link" routerLinkActive="active-link" routerLink="/login"><i class="fas fa-sign-in-alt fa-lg"></i>  Login</a>
  </li>
  <li *ngIf="authenticationService.isLoggedIn()" class="nav-item">
    <a class="nav-link" routerLinkActive="active-link" routerLink="/profile"><i class="fas fa-user-circle fa-lg"></i>  {{ authenticationService.getUser().user }}</a>
  </li>
  <li *ngIf="authenticationService.isLoggedIn()" class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" routerLink="/janitor"><i class="fas fa-wrench fa-lg"></i>   Janitor</a>
  </li>
  <li *ngIf="authenticationService.isLoggedIn()" class="nav-item">
    <a class="nav-link" routerLinkActive="active-link" (click)="authenticationService.logout()"><i class="fas fa-sign-out-alt fa-lg"></i>  Logout</a>
  </li>
</nav>