<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" opened="true" [fixedInViewport]="true" [fixedTopGap]="60">
    <div *ngIf="authenticationService.isLoggedIn()" class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" routerLink="/clusters">
        <i class="fas fa-cubes fa-lg sidebar"></i>Clusters
      </a>
    </div>
    <div *ngIf="authenticationService.isLoggedIn()" class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" routerLink="/instances">
        <i class="fab fa-aws fa-lg sidebar"></i>Instances
      </a>
    </div>
    <div *ngIf="authenticationService.isLoggedIn()" class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" routerLink="/monitor">
        <i class="fas fa-eye fa-lg sidebar"></i>Monitor
      </a>
    </div>
    <div *ngIf="authenticationService.isLoggedIn()" class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" routerLink="/janitor">
        <i class="fas fa-wrench fa-lg sidebar"></i>Janitor
      </a>
    </div>
    <div *ngIf="authenticationService.isLoggedIn()" class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" routerLink="/profile">
        <i class="fas fa-user-circle fa-lg sidebar"></i>{{ authenticationService.getUser().user }}
      </a>
    </div>
    <div *ngIf="authenticationService.isLoggedIn()" class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" (click)="authenticationService.logout()">
        <i class="fas fa-sign-out-alt fa-lg sidebar"></i>Logout
      </a>
    </div>
    <div *ngIf="!authenticationService.isLoggedIn()" class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" routerLink="/login">
        <i class="fas fa-sign-in-alt fa-lg sidebar"></i>Login
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
