<div class="instance-section">
    <h5>EC2 INSTANCES</h5>
    <div class="button-bar">
        <button type="button" class="btn btn-outline-success" id="create-EC2" data-toggle="modal" data-target="#createEC2"><i class="fas fa-plus fa-lg"></i></button>
        <button type="button" class="btn btn-outline-danger" id="terminate-EC2" (click)="terminate('ec2')"><i class="fas fa-trash-alt fa-lg"></i><i style="margin-left:10px" class="fab fa-aws fa-lg"></i></button>
        <button type="button" class="btn btn-outline-primary" id="analyze-EC2" (click)="analyze('ec2')"><i class="far fa-chart-bar fa-lg"></i></button>
        <!--<button type="button" class="btn btn-outline-primary" id="cost-EC2"><i class="fas fa-dollar-sign fa-lg"></i></button>-->
    </div>
    <table id="EC2Table" class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Context</th>
                <th scope="col">Type</th>
                <th scope="col">Zone</th>
                <th scope="col">State</th>
                <th scope="col">Public DNS (IPv4)</th>
                <th scope="col">Creation Date</th>
            </tr>
        </thead>
        <tbody *ngFor="let instance of ec2_data">
            <tr class="clickable-row" (click)="activateRow('EC2Table', instance.InstanceId)">
                <th scope="row" id="instanceId">{{ instance.InstanceId }}</th>
                <td>{{ instance.Tags[0]?.Value }}</td>
                <td>{{ instance.InstanceType }}</td>
                <td>{{ instance.Placement.AvailabilityZone }}</td>
                <td>{{ instance.State.Name }}</td>
                <td>{{ instance.PublicDnsName }}</td>
                <td>{{ instance.LaunchTime }}</td>
            </tr>
        </tbody>
    </table>
    <span *ngIf="!ec2_data[0]">There are no EC2 instances running.</span>
</div>

<div class="instance-section">
    <h5>RDS DB INSTANCES</h5>
    <div class="button-bar">
        <button type="button" class="btn btn-outline-success" id="create-RDS" (click)="create('rds')"><i class="fas fa-plus fa-lg"></i></button>
        <button type="button" class="btn btn-outline-danger" id="terminate-AWS-RDS" (click)="terminate('rds')"><i class="fas fa-trash-alt fa-lg"></i><i style="margin-left:10px" class="fab fa-aws fa-lg"></i></button>
        <button type="button" class="btn btn-outline-primary" id="analyze-RDS" (click)="analyze('rds')"><i class="far fa-chart-bar fa-lg"></i></button>
        <!--<button type="button" class="btn btn-outline-primary" id="cost-RDS"><i class="fas fa-dollar-sign fa-lg"></i></button>-->
    </div>
    <table id="RDSTable" class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Identifier</th>
                <!--<th scope="col">Context</th>-->
                <th scope="col">Class</th>
                <th scope="col">Engine</th>
                <th scope="col">Status</th>
                <th scope="col">Zone</th>
                <th scope="col">Creation Date</th>
            </tr>
        </thead>
        <tbody *ngFor="let instance of rds_data">
            <tr class="clickable-row" (click)="activateRow('RDSTable', instance.DBInstanceIdentifier)">
                <th>{{ instance.DBName }}</th>
                <th scope="row" id="instanceId">{{ instance.DBInstanceIdentifier }}</th>
                <!--<td>{{ instance.Tags[0]?.Value }}</td>-->
                <td>{{ instance.DBInstanceClass }}</td>
                <td>{{ instance.Engine }}</td>
                <td>{{ instance.DBInstanceStatus }}</td>
                <td>{{ instance.AvailabilityZone }}</td>
                <td>{{ instance.InstanceCreateTime }}</td>
            </tr>
        </tbody>
    </table>
    <span *ngIf="!rds_data[0]">There are no RDS instances running.</span>
</div>

<div class="instance-section">
        <h5>EFS INSTANCES</h5>
        <div class="button-bar">
            <button type="button" class="btn btn-outline-success" id="create-EFS" (click)="create('efs')"><i class="fas fa-plus fa-lg"></i></button>
            <button type="button" class="btn btn-outline-danger" id="terminate-AWS-EFS" (click)="terminate('efs')"><i class="fas fa-trash-alt fa-lg"></i><i style="margin-left:10px" class="fab fa-aws fa-lg"></i></button>
            <button type="button" class="btn btn-outline-primary" id="analyze-EFS" (click)="analyze('efs')"><i class="far fa-chart-bar fa-lg"></i></button>
            <!--<button type="button" class="btn btn-outline-primary" id="cost-EFS"><i class="fas fa-dollar-sign fa-lg"></i></button>-->
        </div>
        <table id="EFSTable" class="table">
            <thead>
                <tr>
                    <th scope="col">Identifier</th>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Status</th>
                    <th scope="col">Creation Date</th>
                </tr>
            </thead>
            <tbody *ngFor="let instance of efs_data">
                <tr class="clickable-row" (click)="activateRow('EFSTable', instance.FileSystemId)">
                    <th scope="row" id="instanceId">{{ instance.FileSystemId }}</th>
                    <td>{{ instance.name }}</td>
                    <td>{{ instance.SizeInBytes.Value }}</td>
                    <td>{{ instance.LifeCycleState }}</td>
                    <td>{{ instance.CreationTime }}</td>
                </tr>
            </tbody>
        </table>
        <span *ngIf="!efs_data[0]">There are no EFS instances running.</span>
    </div>

<ng-container *ngFor="let context of context.names">
    <app-cluster [title]="context"></app-cluster>
</ng-container>

<!-- Modal -->
<div class="modal fade" id="createEC2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Launch EC2 Instance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="InstanceName">Instance Name</label>
                        <input type="text" class="form-control" id="InstanceName" name="InstanceName" placeholder="Enter Instance Name">
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="Zone">Select Zone</label>
                        <select multiple class="form-control" id="Zone" name="Zone">
                            <option value="us-east-1">US East (N. Virgina)</option>
                            <option value="us-east-2">US East (Ohio)</option>
                            <option value="us-west-1">US West (N. California)</option>
                            <option value="us-west-2">US West (Oregon)</option>
                        </select>
                    </div>
                    -->
                    <button (click)="create('ec2')" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
<div class="jumbotron">
    <h3>CPU Utilization</h3>
    <div id="graph"></div>
</div>
-->