<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">PROFILE</a>
  </li>
</ul>
<section>
  <div class="tab-content" id="tabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="form-group row">
        <label class="col-lg-2 col-form-label font-weight-bold">Username</label>
        <div class="col-lg-4">
          <input class="form-control-plaintext" type="text" readonly value="{{ userProfile?.uid }}">
        </div>
      </div>
    </div>
  </div>
</section>
