<div class="dialog-header">
  <h2 class="float-left">CONFIGURE JANITOR</h2>
  <div (click)="close()">
    <i class="fas fa-times float-right"></i>
  </div>
</div>
<form (submit)="runJanitor()">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="sourceEmail">Age Threshold</label>
    <input type="text" class="col-sm-9 form-control" name="threshold" placeholder="Instance Age Threshold" [(ngModel)]="janitorConfig.threshold">
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="defaultEmail">Default Email</label>
    <input type="email" class="col-sm-9 form-control" name="defaultEmail" placeholder="Default Email Address" [(ngModel)]="janitorConfig.defaultEmail">
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="summaryEmail">Summary Email</label>
    <input type="text" class="col-sm-9 form-control" name="summaryEmail" placeholder="Summary Email Address" [(ngModel)]="janitorConfig.summaryEmail">
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="sourceEmail">Source Email</label>
    <input type="text" class="col-sm-9 form-control" name="sourceEmail" placeholder="Source Email Address" [(ngModel)]="janitorConfig.sourceEmail">
  </div>
  <div class="form-group form-check row">
    <input class="col-sm-3 form-check-input" type="checkbox" name="isMonkeyTime" id="isMonkeyTime" [checked]="janitorConfig.isMonkeyTime"
      [(ngModel)]="janitorConfig.isMonkeyTime">
    <label class="col-sm-9 form-check-label" for="isMonkeyTime">
      Is Monkey Time?
    </label>
  </div>
  <button type="submit" class="cldn-btn">Run Janitor</button>
</form>
